# Name this file '.env.local'
# Communication with backend relies on this URL env variable

# Local Development
NEXT_PUBLIC_API_URL=localhost:8080/api/v1

# Test Backend Deployed on Azure
# NEXT_PUBLIC_API_URL=[put azure backend url]