# ------------------------------------------------------------------------------
# BAEMTLI ENVIRONMENT VARIABLES
# ------------------------------------------------------------------------------

# Datenbank-Typ: mysql oder mssql
DB_TYPE=mysql

# MySQL local defaults for IntelliJ / Gradle
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=baemtli
DB_USER=baemtli
DB_PASSWORD=baemtli

# MSSQL example
# DB_TYPE=mssql
# DB_HOST=dev-baemtli-db-sv01.database.windows.net
# DB_PORT=1433
# DB_NAME=dev-db-baemtli
# DB_USER=your-user
# DB_PASSWORD=your-password
