.sidebar {
  background-color: var(--white);
  min-width: 230px;
  max-width: 230px;

  padding: 1rem;

  box-shadow: var(--shadow);
}

.navigationItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.logoutArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
