.teamTitleCard {
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: var(--borderradius);
  box-shadow: var(--shadow);
  padding: 0.8rem 1rem;
}

.crudButtons {
  visibility: hidden;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.teamTitleCard:hover .crudButtons {
  visibility: visible;
}
