.teamTitleCard {
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: var(--borderradius);
  box-shadow: var(--shadow);
  padding: 0.8rem 1rem;
  margin: 3rem 0 1rem 0;
}

.crudButtons {
  visibility: hidden;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.teamTitleCard:hover .crudButtons {
  visibility: visible;
}

.traineeList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1rem;
}

.addTraineeSection {
  width: 200px;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--borderradius);
  padding: 0.8rem 1rem;

  cursor: pointer;
}

.editTeamForm {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.editTeamForm input {
  font-weight: 600;
  padding: 0.4rem;
}

.errorMessage {
  color: var(--error);
}
