# Example Config file if you want to use:
# Azure MSSQL cloud instance for dev

# API Versioning
server.servlet.context-path=/api/v1
# Application name
spring.application.name=baemtli

# Syntax of variables: ${ENV_VARIABLE_LOADED_FROM_DOTENV:yourOwnFallbackValue}
spring.datasource.url=jdbc:sqlserver://${DB_HOST:dev-sv-db-baemtli.database.windows.net}:1433;database=${DB_NAME:dev-db-baemtli};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver
spring.datasource.username=${DB_USER:put username here}
spring.datasource.password=${DB_PASSWORD:put pw here}

# Hibernate Dialekt für Microsoft SQL Server
spring.jpa.database-platform=org.hibernate.dialect.SQLServerDialect

spring.jpa.hibernate.ddl-auto=update
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl