# ==== DO NOT SHARE THIS FILE ====

# THIS FILE CONTAINS SENSITIVE PASSWORDS
# AND OTHER SENSITIVE INFORMATION

spring.application.name=baemtli

# JWT
baemtli.jwt.secret=


# DATABASE
# Development Database (locally on the developers machine)
spring.datasource.url=jdbc:mysql://localhost:3306/baemtli
spring.datasource.username=
spring.datasource.password=

# Azure Database (for a central development database that all devs can use together)
# spring.datasource.url=
# spring.datasource.username=
# spring.datasource.password=

# HIBERNATE
spring.jpa.hibernate.ddl-auto=update
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
